# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
* Open Source and Commercial Data Science Tools
* Packages, APIs and Models
* Libraries
* Languages
* Jupyter Notebooks
* GitHub

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. Apache AirFlow
2. Apache Kafka
3. Apache SparkSQL
4. Pixie Dust
5. Hue
6. Kibana

# Data Science Tools
|Tool|
|----|
|GitHub|
|Hadoop|
|RStudio|
|Cassandra|
|Jupyter|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Alfonso Sesma